*,
*::before,
*::after {
    box-sizing: border-box;
} 

/* comments are like this */
h1 {
    font-size: 1.5rem;
}

h1 strong {
    font-size: 2.5rem;
}

section {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    max-width: 80%;
}

.mainbox {
    width: 90%
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  body {
    margin: 2rem;
    font: 12px system-ui;
  }
