*,
*::before,
*::after {
    box-sizing: border-box;
} 

/* comments are like this */

.section1 {
    height: 200px;
    width: 80%;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
}
/*
.div1 {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid red;
}

.section2 {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
}

.div2 {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid red;
}