*, *::before, *::after {
    box-sizing: border-box;
} 

/* TYPOGRAPHY */

h1, h2, h3, p {
    font-family: 'PT Mono', sans-serif;
    opacity: 0.9;
}

h1 {
    font-size: 1.5rem;
}

h1 strong {
    font-size: 2.5rem;
}

.cvlink {
    display: inline;
}

.skillsrow {
    margin: 0;
}

.skills-list {
    list-style-type: none;
}

.intro-section--header {
}

.intro-section--summary-text {
    font-weight: 600;
    font-size: 1.1em;

}

.footnote {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}


.contact-list {
    list-style-type: square;
}

body {
    height: 100%;
    max-width: 95%;
    width: 800px;
    margin: 10px;
    padding-top: 1rem;
    font: 12px system-ui;
    line-height: 1.6;
}

.bg {
    background-image: url("../img/test1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-fade-in{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mainbox { 
    width: 90%;
    position: relative;
    background-color: #F0F3F7;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    border: 50px;
    box-shadow: 3px 3px 3px #111;
    opacity: 0.9;
}

/* SECTION STYLING */

section {
    padding: 0px;
    margin: 0px;
    border: 0px;
}


/* PROJECT CARD */

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: .8rem;
}

.grid > div { /* Project Cards */
    background: hsla(0, 100%, 100, 1)
    padding: 0rem;
    padding-bottom: 0;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0;
}

.project-card--title {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: .25rem;
}

.project-card--subtitle {
    font-weight: bolder;
}

.project-card--subtitle, .project-card--summary, .project-card--repolink {
    display: inline;
    text-align: left;
    margin: 0;
    padding-left: 1rem;
}

.project-card--summary {
    text-align: left;
    font-weight: 500;
    padding-top: 0;
    padding-right: 10px;
    margin-right: 10px;
}

.project-card--repolink {
    padding-bottom: 1rem;
}